<?xml version="1.0"?>
<launch> 
	<arg name="debug" default="false"/>
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="robot_name" default="bbot"/>
    <!-- mode param is to control either position or velocity in the sim. Set true for position control, false for velocity control -->
    <arg name="position" default="true"/> 
	<!-- This is the top-level launch file for the bbot gazebo sim -->

    <group if="$(arg position)">
    	<include file="$(find bbot_gazebo)/launch/bbot_world.launch"> 
    		<arg name="debug" value="$(arg debug)"/>
            <arg name="gui" value="$(arg gui)" />
            <arg name="paused" value="$(arg paused)"/>
            <arg name="use_sim_time" value="$(arg use_sim_time)"/>
            <arg name="headless" value="$(arg headless)"/>
            <arg name="robot_name" value="$(arg robot_name)"/>
            <arg name="hardware_interface" value="PositionJointInterface" />
    	</include>
    </group>

    <group unless="$(arg position)">
        <include file="$(find bbot_gazebo)/launch/bbot_world.launch"> 
            <arg name="debug" value="$(arg debug)"/>
            <arg name="gui" value="$(arg gui)" />
            <arg name="paused" value="$(arg paused)"/>
            <arg name="use_sim_time" value="$(arg use_sim_time)"/>
            <arg name="headless" value="$(arg headless)"/>
            <arg name="robot_name" value="$(arg robot_name)"/>
            <arg name="hardware_interface" value="VelocityJointInterface" />
        </include>
    </group>

    <!-- Spawn position controller if position==true -->
    <group  ns="$(arg robot_name)" if="$(arg position)">
        <include file="$(find bbot_control)/launch/bbot_control.launch">
            <arg name="hardware_interface" value="PositionJointInterface" />
            <arg name="controllers" value="joint_state_controller PositionJointInterface_trajectory_controller" />
            <arg name="robot_name" value="$(arg robot_name)" />
            <arg name="position" value="$(arg position)"/>
        </include>
    </group>

    <!-- Spawn velocity controller if position==false-->
    <group ns="$(arg robot_name)" unless="$(arg position)">
        <include file="$(find bbot_control)/launch/bbot_control.launch">
            <arg name="hardware_interface" value="VelocityJointInterface"/>
            <arg name="controllers" value="joint_state_controller VelocityJointInterface_trajectory_controller"/>
            <arg name="robot_name" value="$(arg robot_name)"/>
            <arg name="position" value="$(arg position)"/>
        </include>
    </group>
</launch>