<?xml version="1.0"?>
<launch> 
	<arg name="debug" default="false"/>
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="robot_name" default="bbot"/>
    <!-- mode param is to control either position or velocity in the sim. Set true for position control, false for velocity control -->
    <arg name="position" default="true"/> 
    <arg name="cup1x" default="0.43"/>
    <arg name="cup1y" default="-0.1"/>
    <arg name="cup1z" default="0.008"/>
    <arg name="cup2x" default="0.29"/>
    <arg name="cup2y" default="0.20"/>
    <arg name="cup2z" default="0.008"/>
    <arg name="mixingcupx" default="0.35"/>
    <arg name="mixingcupy" default="0.1"/>
    <arg name="mixingcupz" default="0.0"/>
    <arg name="aruco_dae_path1" default="bbot_aruco/markers/aruco_99_50mm.dae"/>
    <arg name="aruco_dae_path2" default="bbot_aruco/markers/aruco_05_50mm.dae"/>
    <arg name="aruco_dae_path3" default="bbot_aruco/markers/aruco_44_50mm.dae"/>
    <arg name="camx" default="0.75"/>
    <arg name="camy" default="0.0"/>
    <arg name="camz" default="0.1"/>
    <arg name="camyaw" default="3.1415"/>
	<!-- This is the top-level launch file for the bbot gazebo sim -->

    <group if="$(arg position)">
    	<include file="$(find bbot_gazebo)/launch/bbot_world.launch"> 
    		<arg name="debug" value="$(arg debug)"/>
            <arg name="gui" value="$(arg gui)" />
            <arg name="paused" value="$(arg paused)"/>
            <arg name="use_sim_time" value="$(arg use_sim_time)"/>
            <arg name="headless" value="$(arg headless)"/>
            <arg name="robot_name" value="$(arg robot_name)"/>
            <arg name="hardware_interface" value="PositionJointInterface" />
    	</include>
    </group>

    <group unless="$(arg position)">
        <include file="$(find bbot_gazebo)/launch/bbot_world.launch"> 
            <arg name="debug" value="$(arg debug)"/>
            <arg name="gui" value="$(arg gui)" />
            <arg name="paused" value="$(arg paused)"/>
            <arg name="use_sim_time" value="$(arg use_sim_time)"/>
            <arg name="headless" value="$(arg headless)"/>
            <arg name="robot_name" value="$(arg robot_name)"/>
            <arg name="hardware_interface" value="VelocityJointInterface" />
        </include>
    </group>

    <!-- Spawn position controller if position==true -->
    <group  ns="$(arg robot_name)" if="$(arg position)">
        <include file="$(find bbot_control)/launch/bbot_control.launch">
            <arg name="hardware_interface" value="PositionJointInterface" />
            <arg name="controllers" value="joint_state_controller PositionJointInterface_trajectory_controller" />
            <arg name="robot_name" value="$(arg robot_name)" />
        </include>
    </group>

    <!-- Spawn velocity controller if position==false-->
    <group ns="$(arg robot_name)" unless="$(arg position)">
        <include file="$(find bbot_control)/launch/bbot_control.launch">
            <arg name="hardware_interface" value="VelocityJointInterface"/>
            <arg name="controllers" value="joint_state_controller VelocityJointInterface_trajectory_controller"/>
            <arg name="robot_name" value="$(arg robot_name)"/>
        </include>
    </group>

    <!-- Add ingredient_cup1 -->
    <group ns="cup1">
        <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find bbot_description)/urdf/ingredient_cup.urdf.xacro' aruco_dae_path:=$(arg aruco_dae_path1)"/>
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
            <param name="publish_frequency" type="double" value="50.0"/>
            <param name="tf_prefix" value="cup1"/>
        </node>
        <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model cup1 -param robot_description -x $(arg cup1x) -y $(arg cup1y) -z $(arg cup1z)"/>
    </group>

    <!-- Add ingredient_cup2 -->
    <group ns="cup2">
        <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find bbot_description)/urdf/ingredient_cup.urdf.xacro' aruco_dae_path:=$(arg aruco_dae_path2)"/>
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
            <param name="publish_frequency" type="double" value="50.0"/>
            <param name="tf_prefix" value="cup2"/>
        </node>
        <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model cup2 -param robot_description -x $(arg cup2x) -y $(arg cup2y) -z $(arg cup2z)"/>
    </group>

    <!-- Add mixing_cup -->
    <group ns="mixing_cup">
        <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find bbot_description)/urdf/mixing_cup.xacro' aruco_dae_path:=$(arg aruco_dae_path3)"/>
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
            <param name="publish_frequency" type="double" value="50.0"/>
            <param name="tf_prefix" value="mixing_cup"/>
        </node>
        <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model mixing_cup -param robot_description -x $(arg mixingcupx) -y $(arg mixingcupy) -z $(arg mixingcupz)"/>
    </group>

    <!-- Add camera -->
    <group ns="bbot_camera">
        <param name="robot_description" command="$(find xacro)/xacro --inorder $(find bbot_description)/urdf/bbot_camera.xacro"/>
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
            <param name="publish_frequency" type="double" value="50.0"/>
            <param name="tf_prefix" value="bbot_camera"/>
        </node>
        <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model bbot_camera -param robot_description -x $(arg camx) -y $(arg camy) -z $(arg camz) -Y $(arg camyaw)"/>
    </group>
    
    <!-- use launch file to launch aruco_ros detection nodes -->
    <include file="$(find bbot_aruco)/launch/bbot_aruco_sim.launch" />

    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find bbot_aruco)/rviz/bbot_gazebo.rviz" />


</launch>