<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="bbot_gazebo" params="robot_name">

        <!-- Load Gazebo lib and set the robot namespace -->
        <gazebo>
            <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
                <robotNamespace>/${robot_name}</robotNamespace>
            </plugin>
        </gazebo>

        <!-- Link0 -->
        <gazebo reference="${robot_name}_link_baseplate">
            <material>Gazebo/Orange</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>
        <!-- Link1 -->
        <gazebo reference="${robot_name}_link_motor1">
            <material>Gazebo/Black</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <gazebo reference="${robot_name}_link1_2">
            <material>Gazebo/Orange</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <gazebo reference="${robot_name}_link_motor2">
            <material>Gazebo/Black</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <gazebo reference="${robot_name}_link2_3">
            <material>Gazebo/Orange</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <gazebo reference="${robot_name}_link_motor3">
            <material>Gazebo/Black</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <gazebo reference="${robot_name}_link3_4">
            <material>Gazebo/Orange</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <gazebo reference="${robot_name}_link_motor4">
            <material>Gazebo/Black</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <gazebo reference="${robot_name}_link4_5">
            <material>Gazebo/Orange</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <gazebo reference="${robot_name}_link_motor5">
            <material>Gazebo/Black</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <gazebo reference="${robot_name}_link5_6">
            <material>Gazebo/Orange</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <gazebo reference="${robot_name}_link_motor6">
            <material>Gazebo/Black</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <gazebo reference="${robot_name}_link6_7">
            <material>Gazebo/Orange</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <gazebo reference="${robot_name}_gripper_palm">
            <material>Gazebo/Orange</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <gazebo reference="${robot_name}_link_motor7">
            <material>Gazebo/Black</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <gazebo reference="${robot_name}_link_claw1">
            <material>Gazebo/Orange</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <gazebo reference="${robot_name}_link_claw1_end">
            <material>Gazebo/Orange</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <gazebo reference="${robot_name}_link_claw1_2">
            <material>Gazebo/Orange</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <gazebo reference="${robot_name}_link_claw2">
            <material>Gazebo/Orange</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <gazebo reference="${robot_name}_link_claw2_end">
            <material>Gazebo/Orange</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <gazebo reference="${robot_name}_link_claw2_2">
            <material>Gazebo/Orange</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

    </xacro:macro>

    <!-- Load in mimic_joint_plugin -->
    <xacro:macro name="mimic_joint_plugin_gazebo" params="name_prefix parent_joint mimic_joint has_pid:=false multiplier:=1.0 offset:=0 sensitiveness:=0.0 max_effort:=1.0 robot_namespace:=''">
    <gazebo>
      <plugin name="${name_prefix}mimic_joint_plugin" filename="libroboticsgroup_gazebo_mimic_joint_plugin.so">
        <joint>${parent_joint}</joint>
        <mimicJoint>${mimic_joint}</mimicJoint>
        <xacro:if value="${has_pid}">                     <!-- if set to true, PID parameters from "/gazebo_ros_control/pid_gains/${mimic_joint}" are loaded -->
          <hasPID />
        </xacro:if>
        <multiplier>${multiplier}</multiplier>
        <offset>${offset}</offset>
        <sensitiveness>${sensitiveness}</sensitiveness>   <!-- if absolute difference between setpoint and process value is below this threshold, do nothing; 0.0 = disable [rad] -->
        <maxEffort>${max_effort}</maxEffort>              <!-- only taken into account if has_pid:=true [Nm] -->
        <xacro:unless value="${robot_namespace == ''}">
          <robotNamespace>${robot_namespace}</robotNamespace>
        </xacro:unless>
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>