<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="bbot_gazebo" params="robot_name">
        <!-- Link0 -->
        <gazebo reference="${robot_name}_link_baseplate">
            <material>Gazebo/Orange</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>
        <!-- Link1 -->
        <gazebo reference="${robot_name}_link_motor1">
            <material>Gazebo/Black</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <gazebo reference="${robot_name}_link_1_2">
            <material>Gazebo/Orange</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <gazebo reference="${robot_name}_link_motor2">
            <material>Gazebo/Black</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <gazebo reference="${robot_name}_link_2_3">
            <material>Gazebo/Orange</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <gazebo reference="${robot_name}_link_motor3">
            <material>Gazebo/Black</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <gazebo reference="${robot_name}_link_3_4">
            <material>Gazebo/Orange</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <gazebo reference="${robot_name}_link_motor4">
            <material>Gazebo/Black</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <gazebo reference="${robot_name}_link_4_5">
            <material>Gazebo/Orange</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <gazebo reference="${robot_name}_link_motor5">
            <material>Gazebo/Black</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <gazebo reference="${robot_name}_link_5_6">
            <material>Gazebo/Orange</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <gazebo reference="${robot_name}_link_motor6">
            <material>Gazebo/Black</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <gazebo reference="${robot_name}_link_6_7">
            <material>Gazebo/Orange</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <gazebo reference="${robot_name}_link_motor7">
            <material>Gazebo/Black</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>
    </xacro:macro>
</robot>