<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:macro name="cup" params="aruco_dae_path">
		<gazebo reference="jigger">
	        <material>Gazebo/Grey</material>
	        <mu1>0.2</mu1>
	        <mu2>0.2</mu2>
	    </gazebo>

	    <gazebo reference="jigger_holder">
	        <material>Gazebo/White</material>
	        <mu1>0.2</mu1>
	        <mu2>0.2</mu2>
	    </gazebo>
		<!-- * * * Link Definitions * * * -->
		<link name="base"/>
		<joint name="joint_base_to_holder" type="fixed">
	            <parent link="base"/>
	            <child link="jigger_holder"/>
	            <origin xyz="0 0 0" rpy="${pi/2.0} 0 ${-pi/2.0}"/>
	    </joint>


		<link name="jigger_holder">
			<inertial>
				<origin xyz="0.0 0 0" rpy="0.0 0 0"/>
				<mass value="0.01" />
				<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
			</inertial>
			<collision>
				<origin xyz="0.0 0 0" rpy="0.0 0 0"/>
				<geometry>
					<mesh filename="package://bbot_description/meshes/jigger_holder_complete.stl" scale="0.001 0.001 0.001"/>
				</geometry>
			</collision>
			<visual>
				<origin rpy="0.0 0 0" xyz="0.0 0 0"/>
				<geometry>
					<mesh filename="package://bbot_description/meshes/jigger_holder_complete.stl" scale="0.001 0.001 0.001"/>
				</geometry>
				<material name="White"/>
			</visual>
		</link>	
		
		<joint name="joint_holder_to_jigger" type="fixed">
	            <parent link="jigger_holder"/>
	            <child link="jigger"/>
	            <origin xyz="0 0.04609 0.035" rpy="${pi} 0 0"/>
	    </joint>

		<link name="jigger">
			<inertial>
				<origin xyz="0.0 0 0" rpy="0.0 0.0 0"/>
				<mass value="0.01" />
				<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
			</inertial>
			<collision>
				<origin xyz="0.0 0 0" rpy="0.0 0 0"/>
				<geometry>
					<mesh filename="package://bbot_description/meshes/jigger.stl" scale="0.001 0.001 0.001"/>
				</geometry>
			</collision>
			<visual>
				<origin rpy="0.0 0 0" xyz="0.0 0 0"/>
				<geometry>
					<mesh filename="package://bbot_description/meshes/jigger.stl" scale="0.001 0.001 0.001"/>
				</geometry>
				<material name="White"/>
			</visual>
		</link>

		<joint name="joint_holder_to_aruco" type="fixed">
	            <parent link="jigger_holder"/>
	            <child link="aruco_marker"/>
	            <origin xyz="0 0.0325 -0.002" rpy="0 3.1415 3.1415"/>
	    </joint>

		<link name="aruco_marker">
			<inertial>
				<origin xyz="0.0 0 0" rpy="0.0 0 0"/>
				<mass value="0.01" />
				<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
			</inertial>
			<collision>
				<origin xyz="0.0 0 0" rpy="0.0 0 0"/>
				<geometry>
					<mesh filename="package://${aruco_dae_path}"/>
				</geometry>
			</collision>
			<visual>
				<origin rpy="0.0 0 0" xyz="0.0 0 0"/>
				<geometry>
					<mesh filename="package://${aruco_dae_path}"/>
				</geometry>
			</visual>
		</link>	

		<!-- <gazebo reference="marker26_5cm">
			<kp>100000.0</kp>
			<kd>100000.0</kd>
			<mu1>0.1</mu1>
			<mu2>0.1</mu2>
			<fdir1>1 0 0</fdir1>
		</gazebo> -->
	</xacro:macro>
</robot>
