<?xml version="1.0"?>
<robot name="mixing_cup" xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:arg name="aruco_dae_path" default="bbot_aruco/markers/aruco_44_50mm.dae"/>
	<xacro:macro name="mixing_cup" params="aruco_dae_path">
		<gazebo reference="mixing_cup">
	        <material>Gazebo/Grey</material>
	        <mu1>0.2</mu1>
	        <mu2>0.2</mu2>
	    </gazebo>

	    <gazebo reference="aruco_holder">
	        <material>Gazebo/White</material>
	        <mu1>0.2</mu1>
	        <mu2>0.2</mu2>
	    </gazebo>
		<!-- * * * Link Definitions * * * -->
		<link name="base"/>
		<joint name="joint_base_to_holder" type="fixed">
	            <parent link="base"/>
	            <child link="aruco_holder"/>
	            <origin xyz="0 0 0" rpy="${pi/2.0} 0 ${-pi/2.0}"/>
	    </joint>


		<link name="aruco_holder">
			<inertial>
				<origin xyz="0.0 0 0" rpy="0.0 0 0"/>
				<mass value="0.01" />
				<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
			</inertial>
			<collision>
				<origin xyz="0.0 0 0" rpy="0.0 0 0"/>
				<geometry>
					<mesh filename="package://bbot_description/meshes/mixing_cup_aruco_holder_meters.stl"/>
				</geometry>
			</collision>
			<visual>
				<origin rpy="0.0 0 0" xyz="0.0 0 0"/>
				<geometry>
					<mesh filename="package://bbot_description/meshes/mixing_cup_aruco_holder_meters.stl"/>
				</geometry>
				<material name="White"/>
			</visual>
		</link>	
		
		<joint name="joint_holder_to_cup" type="fixed">
	            <parent link="aruco_holder"/>
	            <child link="mixing_cup"/>
	            <origin xyz="0 0 0.04633" rpy="${0} 0 0"/>
	    </joint>

		<link name="mixing_cup">
			<inertial>
				<origin xyz="0.0 0 0" rpy="0.0 0.0 0"/>
				<mass value="0.01" />
				<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
			</inertial>
			<collision>
				<origin xyz="0.0 0 0" rpy="0.0 0 0"/>
				<geometry>
					<mesh filename="package://bbot_description/meshes/mixing_cup_meters.stl"/>
				</geometry>
			</collision>
			<visual>
				<origin rpy="0.0 0 0" xyz="0.0 0 0"/>
				<geometry>
					<mesh filename="package://bbot_description/meshes/mixing_cup_meters.stl"/>
				</geometry>
				<material name="Grey"/>
			</visual>
		</link>

		<joint name="joint_holder_to_aruco" type="fixed">
	            <parent link="aruco_holder"/>
	            <child link="aruco_marker"/>
	            <origin xyz="0 0.0375 0.001" rpy="0 3.1415 3.1415"/>
	    </joint>

		<link name="aruco_marker">
			<inertial>
				<origin xyz="0.0 0 0" rpy="0.0 0 0"/>
				<mass value="0.01" />
				<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
			</inertial>
			<collision>
				<origin xyz="0.0 0 0" rpy="0.0 0 0"/>
				<geometry>
					<mesh filename="package://${aruco_dae_path}"/>
				</geometry>
			</collision>
			<visual>
				<origin rpy="0.0 0 0" xyz="0.0 0 0"/>
				<geometry>
					<mesh filename="package://${aruco_dae_path}"/>
				</geometry>
			</visual>
		</link>	
	</xacro:macro>
	<xacro:mixing_cup aruco_dae_path="$(arg aruco_dae_path)"/>
</robot>
